@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("/fonts/PretendardVariable.ttf");
}

html {
  font-family: "pretendard";
  @apply text-white bg-black;
}

.hero {
  @apply text-4xl font-bold lg:text-5xl;
}

.h1 {
  @apply text-[32px] font-bold lg:text-4xl;
}

.h2 {
  @apply text-2xl font-bold lg:text-3xl;
}

.h3 {
  @apply text-xl font-bold lg:text-2xl;
}

.body1 {
  @apply font-medium;
}

.body2 {
  @apply text-sm font-medium;
}

.caption {
  @apply text-xs font-medium;
}
